*{
   margin: 0;
   padding: 0;
   /* scrollbar-width: thin; */
}
body{
   background-color: #DCDCDC;
}
::-webkit-scrollbar{
   width: 12px;
   /* scrollbar-width: 30px; */
   /* color: red; */
   /* height: 0; */
}
::-webkit-scrollbar-track{
   background: rgba(62, 62, 62, 0.41);
}
::-webkit-scrollbar-thumb{
   background-color: rgb(78, 78, 78);
   border-radius: 20px;
   border: 2px rgb(89, 89, 89) solid;
}
.button:hover{
   cursor: pointer;
}
.head{
   height: 90px;
   background-color: #202846;
   color: white;
   font-family: "PT_Sans-Bold";
   display: flex;
   align-items: center;
   justify-content: right;
   /* gap: 300px; */
   position: relative;
   padding-right: 20px;
}
.head a{
   text-decoration: none;
   color: white;
   /* font-family: "PT_Sans-Bold"; */
}
.logo{
   position: absolute;
   left: 70px;
}
.logoimg{
   /* width: 178.45px; */
   height: 70px;
   /* position: absolute; */
   /* top: 10px; */
   /* left: 138px; */
   /* margin-right: 100px; */
   border-radius: 167px;
}
.headText{
   /* width: 1066px; */
   height: 57px;
   /* position: absolute;
   top: 17px;
   left: 500px; */
   /* margin-left: 200px; */
   display: flex;
   align-items: center;
}
.text{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   /* width: 170px; */
   height: 55px;
   /* padding: 0 50px 0 50px; */
}
/* .about{
   display: flex;
   flex-wrap: nowrap;
} */
.language{
   font-size: 28px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.langImg{
   margin-right: 10px;
}
.line{
   width: 0;
   height: 59px;
   border: 2px white solid;
   border-radius: 2px;
   margin: 0 50px;
}

.purple{
   height: 140px;
   background-color: #C6C6DC;
}
.purpleText{
   height: 140px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 227px;
   font-family: "PT_Sans-Italic";
   font-size: 48px;
}
.bodyCapital{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 0 40px 0;
   position: relative;
}
.chois{
   width: 1437px;
   /* height: 73px; */
   padding: 20px 0;
   background-color: #E8E8E8;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.choisText{
   font-size: 28px;
   font-family: "PT_Sans-Regular";
   color: #0000009C;
}
.list{
   display: flex;
   background-color: #A3A5A9F7;
   width: 1437px;
   height: 0;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 50px;
   padding: 0;
   overflow: hidden;
   transition: max-height 2s;
}
.list a{
   text-decoration: none;
   color: #292A31;
   font-family: "PT_Sans-Italic";
   font-size: 32px;
}
.shadowLine{
   width: 1489px;
   height: 3px;
   margin: 15px 0;
   background: rgb(192,192,192);
   background: linear-gradient(90deg, rgba(192,192,192,0) 0%, rgba(219,219,221,0.08) 10%, rgba(192,192,192,1) 50%, rgba(219,219,221,0.08) 90%, rgba(192,192,192,0) 100%);
}

/* .triangle{
   border: 10px black solid;
   width: 50px;
   height: 50px;
   border: 23px black solid;
   border-left: 15px rgba(0, 0, 0, 0) solid;
   border-right: 15px rgba(0, 0, 0, 0) solid;
   border-bottom: 25px rgba(0, 0, 0, 0) solid;
   position: absolute;
   right: 20px;
} */
.triangle{
   position: absolute;
   right: 20px;
   transition: transform 0.5s;
   /* transform: rotate(180deg); */
}
.build{
   /* width: 1489px; */
   /* height: 300px; */
   /* padding: 15px 30px; */
   background-color: #BDBDC6;
   display: flex;
   /* padding: 0 50px; */
   /* justify-content: center; */
   align-items: center;
   position: relative;
   margin-bottom: 30px;
   padding: 30px 50px;
}
.build a{
   text-decoration: none;
   color: white;
}
.buildImg{
   margin-right: 80px;
   /* margin-right: 80px; */
   width: 485px;
   height: 244px;
}
.buildTitle{
   color: #353C57;
   font-family: "PT_Sans-BoldItalic";
   font-size: 36px;
   /* border-bottom: 3px white solid; */
}
.lineHorizontal{
   width: 712px;
   border: 2px white solid;
   border-radius: 1px;
   margin-bottom: 10px;
}
.buildText{
   color: #202846;
   font-family: "PT_Sans-Regular";
   font-size: 22px;
   background-color: #D7D7DD;
   padding: 0 30px;
   width: 712px;
   height: 183px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.star{
   position: absolute;
   top: 15px;
   right: 15px;
}
.star2{
   display: none;
}
/* .star {
   margin: 50px 0; 
   height: 0; 
   width: 0;
   position: relative;
   border-right: 50px solid transparent;
   border-bottom: 35px solid #E7337A;
   border-left: 50px solid transparent;
   transform: rotate(35deg);
}
.star:before, 
.star:after {
   content: "";
   height: 0; 
   width: 0;
   position: absolute;
}
.star:before {
   top: -26px; 
   left: -32px;
   border-bottom: 40px solid #E7337A;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   transform: rotate(-35deg);
}
.star:after {
   top: 2px; 
   left: -53px;
   border-right: 50px solid transparent;
   border-bottom: 35px solid #E7337A;
   border-left: 50px solid transparent;
   transform: rotate(-70deg);
} */



.details{
   position: absolute;
   width: 200px;
   height: 60px;
   background-color: #202846;
   border-radius: 30px;
   font-size: 24px;
   font-family: "PT_Sans-Regular";
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 10px;
   right: -50px;
   color: white;
}
.arrow{
   position: absolute;
   right: 50px;
   bottom: 350px;
}


.footer{
   height: 90px;
   background-color: #202846;
   display: flex;
   align-items: center;
   /* padding-left: 100px; */
}
.footerText{
   color: #EEECF1;
   font-size: 36px;
   font-family: "PT_Sans-Italic";
   margin-left: 100px;
}


/* .footer2{
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
} */
.bodyCapital2{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* height: 760px; */
   padding: 70px 0 40px 0;
   /* height: 100vh; */
   /* position: relative; */
}
.info{
   background-color: #BDBDC6;
   padding: 80px 90px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.avatarInfos{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 90px;
}
.bodyCapital2 a{
   text-decoration: none;
   color: #FFFFFF;
   font-size: 24px;
   font-family: "PT_Sans-Regular";
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 40px;
}
.changeAvatar{
   background-color: #69749B;
   margin: 30px 0 20px 0;
   width: 250px;
   padding: 5px 0;
}
.setings{
   background-color: #484A54;
   width: 250px;
   padding: 5px 0;
}
.exitButton{
   background-color: #202846;
   font-size: 27px;
   padding: 10px 65px;
   margin: 30px 0;
}
.lineHorizontal2{
   margin: 15px 0;
}
.infos{
   font-size: 36px;
   color: #353C57;
}
.infosText1{
   font-family: "PT_Sans-BoldItalic";
}
.infosText2{
   font-family: "PT_Sans-Italic";
}
/* скрываем чекбокс */
#menu__toggle {
  /* opacity: 0; */
  display: none;
}
/* стилизуем кнопку */
.menu__btn {
  display: none; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 25px;
  right: 20px;
  width: 35px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #292A31;
}
.menu__btn > span::before {
  content: '';
  top: -12px;
}
.menu__btn > span::after {
  content: '';
  top: 12px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #202846;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 2;
}
/* элементы меню */
.menu__item {
  display: flex;
  justify-content: initial;
  padding: 12px 24px;
  color: white;
  font-family: "PT_Sans-Bold";;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #405089;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.menuImg{
   width: 40px;
   height: 40px;
}



@media (max-width: 1836px){
   .arrow{
      right: 8px;
      bottom: 300px;
      width: 80px;
      height: 80px;
   }
}
@media (max-width: 1616px){
   .build{
      flex-direction: column;
   }
   .buildImg{
      margin: 0 0 20px 0;
   }
   .chois{
      width: 872px;
   }
   .list{
      width: 872px;
   }
   .line{
      margin: 0 35px;
   }
   .arrow{
      right: 50px;
      width: 101px;
      height: 101px;
   }
}
@media (max-width: 1444px){
   .line{
      margin: 0 25px;
   }
}
@media (max-width: 1321px){
   .text{
      font-size: 20px;
   }
   .langImg{
      width: 55px;
      height: 55px;
   }
}
@media (max-width: 1199px){
   .line{
      margin: 0 18px;
      height: 40px;
   }
   .text{
      font-size: 18px;
   }
   .language{
      font-size: 22px;
   }
   .langImg{
      width: 45px;
      height: 45px;
   }
}
@media (max-width: 1210px){
   .arrow{
      right: 20px;
   }
}
@media (max-width: 1122px){
   .arrow{
      position: initial;
   }
}
@media (max-width: 1049px){
   .menu__btn{
      display: flex;
   }
   .headText{
      display: none;
   }
}



@font-face {
   font-family: "PT_Sans-Regular";
   src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
   font-family: "PT_Sans-Italic";
   src: url("../fonts/PT_Sans/PTSans-Italic.ttf");
}
@font-face {
   font-family: "PT_Sans-BoldItalic";
   src: url("../fonts/PT_Sans/PTSans-BoldItalic.ttf");
}
@font-face {
   font-family: "PT_Sans-Bold";
   src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
}